<mat-card>
    <mat-card-header style="background-color: cadetblue; font-size: 30px; text-align: center;">
      Bad Gate Way Apps
    </mat-card-header>
    <div mat-card-image></div>
    <mat-card-content>
        <mat-list role="list">
            
            <mat-list-item role="listitem"><a  mat-menu-item style="color: rgb(230, 122, 122);" [routerLink]="'/health-insurance-quote'"> Health Insurance </a></mat-list-item>
            <mat-list-item role="listitem"><a  mat-menu-item style="color: rgb(230, 122, 122);" [routerLink]="'/login'"> License Management </a></mat-list-item>
            <mat-list-item role="listitem"><a  mat-menu-item style="color: rgb(230, 122, 122);" [routerLink]="'/generate-offer'"> Offer Letter Generation </a></mat-list-item>
            <mat-list-item role="listitem"><a  mat-menu-item style="color: rgb(230, 122, 122);" href="http://localhost:8080"> Chat Bot </a></mat-list-item>
            <mat-list-item role="listitem"><a  mat-menu-item style="color: rgb(230, 122, 122);" [routerLink]="'/upload-image'"> OCR Image (Under development)</a></mat-list-item>  
            
              
          </mat-list>
    </mat-card-content>
  </mat-card>
